<%- include('partials/header'); -%>

<header>
  <div class="storefront">
    <img src="/storefront3.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Storefront </h2>
    <h3>By Vendors for Vendors</h3>
    <a href="/stores" class="btn">View stores</a>
  </div>
</header>


<%- include('partials/footer'); -%>