<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/storefront3.jpg" alt="storefront icon">
    <h4>Supermarkets</h4>
    <p>Groceries, Electronics, Sundry</p>
  </li>
  <li class="recipe">
    <img src="/storefront3.jpg" alt="storefront icon">
    <h4>Frozen Foods</h4>
    <p>Chicken, Fish, Sausages</p>
  </li>
  <li class="recipe">
    <img src="/storefront3.jpg" alt="smoothie recipe icon">
    <h4>Butchery</h4>
    <p>Mutton, Chicken, Pork, Beef, Goat</p>
  </li>
  <li class="recipe">
    <img src="/storefront3.jpg" alt="smoothie recipe icon">
    <h4>Restaurants</h4>
    <p>African, Intercontinental, Chinese</p>
  </li>
  <li class="recipe">
    <img src="/storefront3.jpg" alt="smoothie recipe icon">
    <h4>Fast foods</h4>
    <p>Burgers, Pizza, Meal</p>
  </li>
  <li class="recipe">
    <img src="/storefront3.jpg" alt="smoothie recipe icon">
    <h4>Fresh foods</h4>
    <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
  </li>
</ul>

<%- include('partials/footer'); -%>